main {
	min-height: 80vh;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

h3 {
	padding: 1rem 0;
}

.fa-user {
	margin-left: 2rem;
}

.remove-item {
	margin: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}

.qty-selector {
	width: 50%;
	padding: 0.75rem;
	margin: 0.5rem 0;
}

.items-per-page {
	display: inline;
	width: 60px;
	padding: 0.75rem;
	margin: 0.5rem 0;
}

.inline {
	display: inline;
	margin-right: 1rem;
}
